*{
    /* reset */
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: 'Barlow Condensed', sans-serif;
}

.barraMenu {
     width: 100%;
     background-color:rgb(185, 61, 61);
     display: flex;
     height: 3em;
     justify-content: space-between;
     align-items: center;
     position: fixed;
     top: 0%;
}

.menulist {
    display: flex;
    width: 500px;
    justify-content: space-evenly;
}

.menulist > li {
    list-style-type: none  ;
}

.menulist > li > a {
    color:rgb(255, 255, 255);
    text-decoration: none;
}
.btn-outline-success{
    background-color: aliceblue;
}

body {
    background-image: url(./../Image/fondox.jpg);
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh; /* Ajusta la altura al 100% del viewport */
  }
  
.cartas {
    display:flex ;
    justify-content:space-between;
    margin: 20px;
}
.card {
    width: 30%;
    border: 1px solid #ccc;
    padding: 10px; 
    text-align: center;
    position: static;
}
.card1 {
    width: 30%;
    border: 1px solid #ccc;
    padding: 10px; 
    text-align: center;
    background-color:white;
}
.card2 {
    width: 30%;
    border: 1px solid #ccc;
    padding: 10px; 
    text-align: center;
    background-color:white;
}
.card3 {
    width: 30%;
    border: 1px solid #ccc;
    padding: 10px; 
    text-align: center;
    background-color:white;
}
.card4 {
    width: 30%;
    border: 1px solid #ccc;
    padding: 10px; 
    text-align: center;
    background-color:white;
}

.img-delivery {
   display: flex;
   justify-content: space-evenly;
   margin: 20px;
}

.img {
    background-color: aliceblue;
     border: 1px solid #ccc;
     text-align: center;
}

.img1 {
    background-color: aliceblue;
     border: 1px solid #ccc;
     text-align: center;
}

 footer {
    background-color: rgb(0, 0, 0);
    border: 1px solid #000000;
 }

.text {
    text-align: center;
    color: white;
}

 .texto {
    text-align: center;
    color: white;
 }