*{
    /* reset */
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: 'Barlow Condensed', sans-serif;
}

.navbar{
    width: 100%;
    background-color:rgb(177, 27, 27);
    display: flex;
    height: 3em;
    justify-content: space-around;
    align-items:center;
    position: fixed;
    top: 0%;
    z-index: 1;
    font-size: 25px;

}

.menulist {
    display: flex;
    width: 500px;
    justify-content: space-evenly;
}

.menulist > li {
    list-style-type: none;
}

.menulist > li > a {
    color:rgb(255, 255, 255);
    text-decoration: none;
}

body {
    background-color: rgb(245, 113, 113);
  }

.primerContenedor {
    background-image: url(./../Image/comidas-saltajpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 45vh;
} 

.primerContenedor>h2 {
    font-size: 10em;
    position: relative;
    top: 54%;
    color: #ffffffab;
}

.subtitulo > h2 {
    width: 100%;
    padding: 30px 0;
    font-size: 2em;
    text-align: center;
    color: #ccc;
    font-size: 60px;
}

.subtitulo>h2{
    text-decoration: underline; 
    text-transform: uppercase; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #fff;
}

.cartas {
    display:flex ;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 8px;
    padding: 20px; 
}

.item-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    padding: 30px;
}

.item-img img {
    max-width: 100%; /* Asegura que la imagen no supere el ancho de la tarjeta */
    height: auto; 
}
.card {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    padding: 10px; 
    justify-content: center;
    align-items: center;
    text-align: center;
    position: static;
    margin-bottom: 20px;
}
.card1 {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color:white;
    margin-bottom: 20px;
}
.card2 {
    width: 30%;
    border: 1px solid #ccc;
    padding: 10px; 
    text-align: center;
    background-color:white;
    margin-bottom: 20px;
}
.card3 {
    width: 30%;
    border: 1px solid #ccc;
    padding: 10px; 
    text-align: center;
    background-color:white;
    margin-bottom: 20px;
}
.card4 {
    width: 30%;
    border: 1px solid #ccc;
    padding: 10px; 
    text-align: center;
    background-color:white;
    margin-bottom: 20px;
}
.card5 {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px; 
    text-align: center;
    background-color:white;
    position: static;
    margin-bottom: 20px;
}
.card6 {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px; 
    text-align: center;
    background-color:white;
    position: static;
    margin-bottom: 20px;
}
.card7 {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px; 
    text-align: center;
    background-color:white;
    position: static;
    margin-bottom: 20px;
}
.card8 {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px; 
    text-align: center;
    background-color:white;
    position: static;
    margin-bottom: 20px;
}
.card9 {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px; 
    text-align: center;
    background-color:white;
    position: static;
    margin-bottom: 20px;
}

.pagination {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.formulario {
      width: 50%; /* Ajusta el ancho según tu diseño */
      margin: 0 auto; /* Centra horizontalmente */
      padding: 20px; /* Agrega relleno para mejorar la apariencia */
      border: 1px solid #ccc; /* Agrega un borde opcional */
      background-color: #ffffff;
    }

.img-delivery {
   display: flex;
   justify-content: space-evenly;
   margin: 20px;
   padding-top: 30px;
   padding: 40px;
}

.img {
     padding: 10px;
     width: 100%;
     background-color: aliceblue;
     border: 1px solid #ccc;
     text-align: center;
}

.img1 {
     padding: 10px;
     width: 100%;
     background-color: aliceblue;
     border: 1px solid #ccc;
     text-align: center;
}

 footer {
    background-color: rgb(0, 0, 0);
    border: 1px solid #000000;
 }

.text {
    text-align: center;
    color: white;
}

 .texto {
    text-align: center;
    color: white;
 }

@media screen and (max-width:1000px){
    body {
        font-size: 18px;
        margin: 0px;
      }

    .nav-link {
        width: 400px;
        height:45px;
        background-color: #fff;
        text-align: center;
    }

    .mb-lg-0 {
        justify-content: center;
        padding-bottom: 10px;
    }

    .primerContenedor>h2{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;
        font-size: 8em;
        top: 60%;
    }

    .subtitulo>h2{
        font-size: 40px;
        text-align: center;
    }

    .cartas {
        display: flexbox;
        justify-content: space-between;  
    }

    .formulario {
        width: 100%;
        width: 600px;
        height: 500px;
    }

    .img-delivery {
        justify-content: space-around;
        padding: 10px;
    }
    .texto {
        justify-content: baseline;
        text-align:center;
    }
    
}

